html, body
{
    height: 100%;
    width: 100%;
}

.title-font
{
    font-size: 48px;
    font-family: "Averia Serif Libre";
    /* background: red; */
}
.sem
{
    background:
    linear-gradient( to bottom, gold  0%, gold 100% );
background-position: 50% 50%;
background-size: 0px 4px;
background-repeat: repeat-x;
transition: background-size 0.3s;
text-decoration: none;
}
.sem:hover
{
    background-size: 100% 100%;
    /* box-shadow: 0px 0px 20px 1px; */
}